@model NodeManager.Web.Models.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Регистрация в Менеджере узлов</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="page_register">
    <header>
        <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function (m, e, t, r, i, k, a) {
                    m[i] = m[i]  function () { (m[i].a = m[i].a  []).push(arguments) };
                    m[i].l = 1 * new Date();
                    for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
                    k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
                })
                    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                ym(91761379, "init", {
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
                ym(91761180, "init", {
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/91761180" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
        </header>
    <div class="registration">
        <h2>Регистрация</h2>
 
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="formRegistration">
                <div class="fieldForm">
                    <label asp-for="Name">Введите имя</label>
                    <div class="tboxForm">
                         @Html.TextBoxFor(n => n.Name, new { placeholder = "Name", @class = "form-control form-control-custom" })
                         @Html.ValidationMessageFor(n => n.Name, "", new { @class = "text-danger" })
                    </div>
                    @*<input type="text" asp-for="Name" required />
                    <span asp-validation-for="Name" />*@
                </div>
                <div class="fieldForm">
                    <label asp-for="Email">Введите Email</label>
                    <div class="tboxForm">
                        @Html.TextBoxFor(n => n.Email, new { type = "Email", placeholder = "Email", @class = "form-control form-control-custom" })
                        @Html.ValidationMessageFor(n => n.Email, "", new { @class = "text-danger" })
                    </div>
                    @*<input type="text" asp-for="Email" required />
                    <span asp-validation-for="Email" />*@
                </div>
                <div class="fieldForm">
                     <label asp-for="Password">Введите пароль</label>
                     <div class="tboxForm">
                         @Html.TextBoxFor(n => n.Password, new { type = "password", placeholder = "New Password", @class = "form-control form-control-custom" })
                         @Html.ValidationMessageFor(n => n.Password, "", new { @class = "text-danger" })
                     </div>
                    @*<input asp-for="Password" required />
                    <span asp-validation-for="Password" />*@
                </div>
                <div class="fieldForm">
                    <label asp-for="ConfirmPassword">Повторите пароль</label>
                    <div class="tboxForm">
                         @Html.TextBoxFor(n => n.ConfirmPassword, new { type = "password", placeholder = "Confirm New Password", @class = "form-control form-control-custom" })
                         @Html.ValidationMessageFor(n => n.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    @*<input asp-for="ConfirmPassword"/>
                    <span asp-validation-for="ConfirmPassword" />*@
                </div>
                <div class="fieldForm">
                    <label asp-for="Company">Введите название компании</label>
                    <div class="tboxForm">
                        @Html.TextBoxFor(n => n.Company, new { type = "Company", placeholder = "Company", @class = "form-control form-control-custom" })
                        @Html.ValidationMessageFor(n => n.Company, "", new { @class = "text-danger" })
                    </div>
                    @*<input type="text" asp-for="Company" required />
                    <span asp-validation-for="Company" />*@
                </div>
                <div class="but_reg">
                    <input type="submit" value="Регистрация" class="button_register" />
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

