@model NodeManager.Web.Models.CategorySection

@{
    ViewData["Title"] = "Menu";
}

@*@foreach (var category in Model.Menu)
{
    <button onclick="window.location.href='/Node/List/@category.Key.Name'">@category.Key.Name</button>

    if (category.Key.Id == Model.SelectedSection)
    {
        foreach (var i in category.Value)
        {
            <button onclick="window.location.href='/Node/List/@category.Key.Name/@i.Name'">@i.Name</button>
        }
    } 
}*@

<div class="nav_filters">
    <div class="scroll">
    <ul class="accordion-menu">
        @foreach (var category in Model.Menu)
        {
        <li>
            <div class="dropdownlink">
                @*< fa fa-chevron-down    fa-solid fa-caret-down    button class="but_category" onclick="window.location.href='/Node/List/@category.Key.Name'">@category.Key.Name<span class="fa fa-chevron-down"></span></button>*@
                <a class="but_category" href="/Node/List/@category.Key.Name">@category.Key.Name<span class="fa-solid fa-caret-down fa-xs"></span></a>
            </div>
        
            <ul class="submenu">
                @if (category.Key.Id == Model.SelectedSection)
                {
                    @foreach (var subcategory in category.Value)
                    {
                        <li>
                            <a class="but_subcategory" href="/Node/List/@category.Key.Name/@subcategory.Name">@subcategory.Name</a>
                            @*<button class="but_subcategory" onclick="window.location.href='/Node/List/@category.Key.Name/@subcategory.Name'">@subcategory.Name</button>*@
                        </li>
                    }
                }
            </ul>
        </li>
        }
    </ul>
    </div>
    <div class="plug">
        <p>Заглушка</p>
    </div>
</div>