<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] Менеджер узлов</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    @*<main class="main_container">
        <header class="main_header">
            <h5>Узлы предоставлены для обязательной адаптации к проекту</h5>
            <div class="search_tag">
            @if (@Model.tagList != null)
            {
                @*<div class="button_search_tag">
                <button class="b_search_tag">Поиск по тегу</button>
                </div>*@
                <form action="" method="get">


                    <input name="search_text" placeholder="Поиск по тегу" type="search" list="tegi">
                    @*<input type="submit" formaction="/Search/" value="Найти" >*@
                    <button class="b_search_tag" onclick="/Search/"><span class="fa fa-search"></span></button>
                    <datalist id="tegi" multiple="multiple">
                        @foreach(var nameTag in Model.tagList)
                        {
                            <option>@nameTag</option>
                        }
                    </datalist>
                </form>
            }

            </div>
            

            <div class="user">
                <button class="but_user"><span class="fa-solid fa-user"></span></button>
                <div class="user_info">
                    <p>@Model.userName</p>
                    @if (Model.userName == null)
                    {
                        @Html.ActionLink("Войти","Login","Account")
                        @Html.ActionLink("Зарегистрироваться","Register","Account")
                    }
                    else {
                        @Html.ActionLink("Выйти","Logout","Account")
                    }
                </div>
            </div>

        </header>
        <div class="main_content">
                @RenderBody()
        </div>

    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>