<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Менеджер узлов</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"  rel="stylesheet"/>

    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- подключаем библиотеку -->
    @*<script type="text/javascript" src="https://unpkg.com/popper.js"></script>*@
    <!-- подключаем универсальный скрипт, который использует API propper.js для упрощенного использование подсказок -->
    @*<script type="text/javascript" src="https://unpkg.com/tooltip.js"></script>*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>*@
    <!-- jQuery (Cloudflare CDN) -->
    @*<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
</head>
<body>
    
    @*<input type="checkbox" id="nav-toggle" hidden>*@
    @*<input type="checkbox" id="hmt" class="hidden-menu-ticker">*@
    @*<input type="checkbox" id="toogle-menu" />*@
    <input type="checkbox" id="nav-toggle" hidden>
    <main class="main_container">
        <header class="main_header">
            <h5>Узлы предоставлены для обязательной адаптации к проекту</h5>
            <div class="button_group_left">
                <button class="b_back" onclick="window.history.back()" title="Назад"><span class="fa-solid fa-arrow-left"></span></button>
                @if (Model.UserName != null)
                {
                    <form asp-action="AddFile" asp-controller="Node" method="post" enctype="multipart/form-data" class="formLeft upload-file__wrapper">
                        <input type="file" name="uploadedFile" id="uploadedFile" class="upload-file__input" />
                        <label class="upload-file__label" for="uploadedFile">
                            <span class="upload-file__text" title="Загрузить файл/проект">Загрузить файл/проект</span>
                        </label>
                        <button class="subFile" type="submit" title="Загрузить файл/проект"><span class="fa-solid fa-upload"></span></button>
                    </form>
                }
            </div>
            
            <div class="search_name">
                @*<label for="searchbox" class="is-size-5">Search</label>
                <input class="searchName" type="search" id="searchbox" placeholder="Live search keyword..">*@
                @*<form action="~/Node/1/SearchName" method="post"> @*asp-controller="Node" asp-action="SearchName"*@ @*action="~/Node/1/SearchName" method="post"*@
                    @*<input type="text" placeholder="Поиск по названию" class="search_by_name" name="name">*@
                    @*<button class="b_search_name" type='submit'><span class="fa fa-search"></span></button>*@
                @*</form>*@
                

                <input type="text" placeholder="Поиск по названию" class="search_by_name" id="nameSearch" name="name">
                <button class="b_search_name" onclick="window.location.href='getValue();" type='submit'><span class="fa fa-search"></span></button>
                

                @*<form action="https://echo.htmlacademy.ru/courses" method="post" class="subscription">
                    <div class="subscription-inner">
                        <label class="subscription-label" for="subscription-email">email</label>
                        <input type="email" class="subscription-email" placeholder="keks@flashnews.ru" value="keks@flashnews.ru" required id="subscription-email">
                    </div>

                    <button class="button subscription-button" type="submit">Подписаться</button>
                </form>*@

                @*<a class="b_search_name" formaction="nameSearch" href="getValue()"><span class="fa fa-search"></a>*@
                @*<button class="b_search_name" href="/Node/List/1/@cat"><span class="fa fa-search"></span></button>*@
                @*<script type="text/javascript">
                    function getValue(){
                        var text = document.getElementById("nameSearch").value;
                        alert(text);
                    }
                </script>*@
            </div>

            <div class="user">
                <button class="but_user"><span class="fa-solid fa-user"></span></button>
                <div class="user_info">
                    <p>@Model.UserName</p>
                    @if (Model.UserName == null)
                    {
                        @Html.ActionLink("Войти","Login","Account")
                        @Html.ActionLink("Зарегистрироваться","Register","Account")
                    }
                    else {
                        @Html.ActionLink("Выйти","Logout","Account")
                    }
                </div>
            </div>

            <div class="filters_panel">
                <!-- input нужен для того, что бы в дальнейшем задать стили иконке ☰ по событию checked, то есть когда меню будем открыать и закрыать -->
                <input type="checkbox" id="hmt" class="hidden-menu-ticker">
                <!-- Далее вёрстка самой иконки. Разделена на спаны, что бы красиво превращать в крестик при открытии (почти как в Телеграме :) -->
                <label class="btn-menu" for="hmt" title="Панель фильтров">
                    <span class="first"></span>
                    <span class="second"></span>
                    <span class="third"></span>
                </label>
                <!-- Менюшка раскрывающаяся и скрывающаяся -->
                <ul class="hidden-menu">
                    <li class="first_point">
                        <div class="search_tag">
                            @await Component.InvokeAsync("Tags")
                        </div>
                    </li>  
                    @*<li><a href="">ABOUT</a></li>
                    <li><a href="">CONTACTS</a></li>  *@
                </ul>
            </div>
        </header>
        <div class="main_content">
                @RenderBody()
        </div>
    </main>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>