@model NodeManager.Web.Models.NodesViewModel

@{
    var firstPage = 1;
    var prevPage = @Model.PagingInfo.CurrentPage-1;
    var curPage = @Model.PagingInfo.CurrentPage;
    var nextPage = @Model.PagingInfo.CurrentPage+1;
    var punultPage =@Model.PagingInfo.TotalPages-1;
    var lastPage = @Model.PagingInfo.TotalPages;
    //string urlLastPage = redirectPage(@lastPage);
}

<div class="nav_menu">
    @if (@Model.IsProjectSection)
    {
        ViewData["Title"] = "Узлы проекта.";
        <div class="but_downld">
            <button class="b_download" onclick="window.location.href='/Node/GetFile/@Model.Symbols.First().FileId'" title="Скачать проект"><span class="fa-solid fa-download"></span></button>
        </div>
    }
    @await Component.InvokeAsync("Menu", Model.categorySection)
</div>
<div class="content_nodes">
    <div class="nodes">
        @foreach (var nodI in Model.Symbols)
        {
            <div class="node">
                <button class="btn" onclick="window.location.href='/Symbol/@nodI.Id';"><span class="fas fa-search-plus"></span></button>
                <img class="img-responsive center-block" src="data:image/jpg;base64,@FamSymbolViewModel.ImageByteToBase64ImageTag(nodI.Image)"/>
                <div class="node_name">
                    <p title="@nodI.Name">@FamSymbolViewModel.GetCutString(nodI.Name)</p>
                </div>
            </div>
        }
    </div>
    <div class="pages">

        @*<p>Всего элементов: @Model.PagingInfo.TotalItems.</p>
        <p>Элементов на странице: @Model.PagingInfo.ItemsPerPage.</p>
        <p>Текущая страница: @Model.PagingInfo.CurrentPage.</p>
        <p>Всего страниц: @Model.PagingInfo.TotalPages.</p>*@


        <p>Текущая страница @curPage</p>
        <button class="btn" onclick="window.location.href=redirectPage();">Нажми</button>

        @*<button class="btn" onclick="window.location.href='redirectPage(@curPage);'">Нажми</button>
        <button class="btn" onclick="window.location.href='redirectPage(@nextPage);'">След.стр</button>
        <button class="btn" onclick="window.location.href=redirectPage(@punultPage);">Предпосл.стр</button>
        <button class="btn" onclick="window.location.assign(redirectPage(@lastPage))">Посл.стр</button>*@


        @if (lastPage > 1)
        {
            <ul class="pagination">
                
                @if (lastPage < 5)
                {   
                    @if (lastPage < 4)
                    {
                        @if (lastPage < 3)
                        {
                            <li>
                                <button class="btn" onclick="window.location.href=redirectPage(1);">1</button>
                            </li>
                            <li>
                                <button class="btn" onclick="window.location.assign(redirectPage(2))">2</button>
                            </li>
                        }
                        <li>
                            <button class="btn" onclick="window.location.assign(redirectPage(3))">3</button>
                        </li>
                    }
                    <li>
                        <button class="btn" onclick="window.location.assign(redirectPage(4))">4</button>
                    </li>   
                }

                @*@if (@curPage != 1)
                {
                    <li>
                        <button class="btn" onclick="window.location.href=redirectPage(@firstPage);">@firstPage</button>
                    </li>
                }*@
                <li>
                    <button class="btn" onclick="window.location.href=redirectPage(@firstPage);">@firstPage</button>
                </li>
                
                @if (@curPage != 1 && @curPage != 2)
                {
                    <li>
                        <button class="btn" onclick="window.location.assign(redirectPage(@prevPage))">@prevPage</button>
                    </li>
                }

                @if (@curPage != 1 &&  @curPage != lastPage)
                {
                    <li>
                        <button class="btn" onclick="window.location.assign(redirectPage(@curPage))">@curPage</button>
                    </li>
                }

                @if (@curPage != punultPage && @curPage != lastPage)
                {
                    <li>
                        <button class="btn" onclick="window.location.assign(redirectPage(@nextPage))">@nextPage</button>
                    </li>
                }

                @*@if ((@curPage != 1 && @curPage != 2) && (@curPage != punultPage || @curPage != lastPage))
                {
                    <li>
                        <button class="btn" onclick="window.location.assign(redirectPage(@prevPage))">@prevPage</button>
                    </li>
                    <li>
                        <button class="btn" onclick="window.location.assign(redirectPage(@curPage))">@curPage</button>
                    </li>
                    <li>
                        <button class="btn" onclick="window.location.assign(redirectPage(@nextPage))">@nextPage</button>
                    </li>
                }*@

                <li>
                    <button class="btn" onclick="window.location.href=redirectPage(@lastPage);">@lastPage</button>
                </li>

                @*@if (@curPage != lastPage)
                {
                    <li>
                        <button class="btn" onclick="window.location.href=redirectPage(@lastPage);">@lastPage</button>
                    </li>
                }*@
            </ul>
        }


        @*<input asp-for="PagingInfo.TotalItems"  id="hdnTotalItems" value="@Model.PagingInfo.TotalItems" />
        <input asp-for="PagingInfo.ItemsPerPage"  id="hdnTotalItems" value="@Model.PagingInfo.ItemsPerPage" />
        <input asp-for="PagingInfo.CurrentPage" id="hdnTotalItems" value="@Model.PagingInfo.CurrentPage" />
        <input asp-for="PagingInfo.TotalPages"  id="hdnTotalItems" value="@Model.PagingInfo.TotalPages" />*@
        
    </div>
</div>