@model NodeManager.Web.Models.NodesViewModel

@{
    ViewData["Title"] = "Менеджер узлов";
    //Layout = null;
}

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] = "Менеджер узлов"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main class="main_container">

    <header class="main_header">
        <nav class="grid_nav_header">
            <div class="header_nav_left">
                <div class="nav_back">
                    <a class="b_back" asp-area="" asp-controller="Home" asp-action="Index">Назад</a>

                </div>

                <div class="button_search">
                    <button class="b_search">Найти...</button>
                </div>
            </div>

            <div class="header_nav_right">
                <h5>Узлы предоставлены для обязательной адаптации к проекту</h5>

                <div class="button_search_tag">
                    <button class="b_search_tag">Поиск по тегу</button>
                </div>
            </div>
        </nav>
    </header>*@

    @*<main class="grid_container">*@
        <div class="nav_filters">
            @await Component.InvokeAsync("Menu", Model.categorySection)
        </div>

        @*<script type="text/javascript">
            document.write("У Вас включён JavaScript!");
        </script>
        <noscript><span>У Вас отключён JavaScript...</span></noscript>*@

        <div class="content_nodes">
            <div class="nodes">
                @foreach (var nodI in Model.Symbols)
                {
                    <div class="node">
                        <img class="img-responsive center-block" src="data:image/jpg;base64,@FamSymbolViewModel.ImageByteToBase64ImageTag(nodI.Image)"/>
                        <button class="btn" onclick="window.location.href='#@nodI.Id';"><span class="fas fa-search-plus"></span></button>
                        <div class="node_name">
                            <p title="@nodI.Name">@FamSymbolViewModel.GetCutString(nodI.Name)</p>
                        </div>
                        <div class="lightbox" id="@nodI.Id">
                            <figure>
                                <button class="close" onclick="window.location.href='#';"><span class="fas fa-times"></span></button>
                                <button class="dwn"><span class="far fa-save fa-lg" style="color: white"></span></button>
                                <figcaption>
                                    <p>@nodI.Name</p>
                                    <img class="img-responsive center-block" src="data:image/jpg;base64,@FamSymbolViewModel.ImageByteToBase64ImageTag(nodI.Image)"/>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                }
            </div>
        </div>
    @*</main>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>*@